<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R6_Simu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IWSR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <R6_Simu.Properties.Settings>
            <setting name="ThemeId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="rle" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="fle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="l1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="l2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="l3" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="l4" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="l5" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="l6" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="l7" serializeAs="String">
                <value>150</value>
            </setting>
        </R6_Simu.Properties.Settings>
        <IWSR.Properties.Settings>
            <setting name="ThemeId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="rle" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="fle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cle" serializeAs="String">
                <value>16</value>
            </setting>
        </IWSR.Properties.Settings>
    </userSettings>
</configuration>